body {
     font-family: Arial, sans-serif;
     text-align: center;
     margin-top: 50px;
     background: rgb(2,0,36);
     background: linear-gradient(90deg, rgba(2,0,36,1) 40%, rgba(91,199,221,0.6923144257703081) 87%);
 }
 #progressBar {
     width: 100%;
     background-color: #faf7f7;
     border-radius: 5px;
     overflow: hidden;
     margin: 20px 0;
 }
 #progress {
     height: 30px;
     background: rgb(158,34,195);
     background: linear-gradient(70deg, rgba(158,34,195,1) 25%, rgba(46,253,45,0.8883928571428571) 79%);
     width: 0;
     transition: width 0.5s;
 }
 button {
     padding: 10px 20px;
     margin: 5px;
     font-size: 16px;
width: 220px;
height: 50px;
border: none;
outline: none;
color: #fff;
background: #111;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 10px;
}

button:before {
content: '';
background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
position: absolute;
top: -2px;
left:-2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing 20s linear infinite;
opacity: 0;
transition: opacity .3s ease-in-out;
border-radius: 10px;
}

button:active {
color: #000
}

button:active:after {
background: transparent;
}

button:hover:before {
opacity: 1;
}

button:after {
z-index: -1;
content: '';
position: absolute;
width: 100%;
height: 100%;
background: #111;
left: 0;
top: 0;
border-radius: 10px;
}

@keyframes glowing {
0% { background-position: 0 0; }
50% { background-position: 400% 0; }
100% { background-position: 0 0; }
}

